body {
	background-image: url(img/fondo.jpg);
	background-repeat: repeat-x;
	background-color: #014b61;
}

nav {
	margin-top:25px;
	margin-left:auto;
	margin-right: auto;
	width:671px;
	height:38px; 
}

nav ul {
	list-style: none;
	padding:0;
}

nav ul li {
	display: block;
	float:left;
	width:121px;
	height:38px;
}

nav ul li a {
	display: block;
	width:121px;
	height:28px;
	text-align: center;
	padding-top:10px;
	text-decoration:none;
	color:#ade2fc;
	font-size:16px;
}

nav ul li a:link,
nav ul li a:active,
nav ul li a:visited {
	text-decoration: none;
	color:#ade2fc;
}

nav ul li a:hover {
	background-color: #fff;
	color:#3179d4;
}

div.banner {
	width:671px;
	height:346px;
	margin:0 auto;
}